<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header"><a class="navbar-brand" href="#"><%= appName %></a></div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Home</a></li> -->
      </ul>
      <div class="pull-right">
        <span id="gi-status" class="label label-default pull-right">GoInstant Connection | <span class="glyphicon glyphicon-thumbs-down"></span></span>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</div>